IMG {
  border: 0; }

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif; }

h1 {
  font: 150% sans-serif;
  color: #222266;
  border-bottom: 3px dotted #7777dd; }

#product-list table {
  border-collapse: collapse; }
  #product-list table tr td {
    padding: 5px;
    vertical-align: top; }
#product-list .list-image {
  width: 60px;
  height: 70px; }
#product-list .list-description {
  width: 60%; }
  #product-list .list-description dl {
    margin: 0; }
  #product-list .list-description dt {
    color: #224444;
    font-weight: bold;
    font-size: larger; }
  #product-list .list-description dd {
    margin: 0; }
#product-list .list-actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em; }
#product-list .list-line-even {
  background: #e0f8f8; }
#product-list .list-line-odd {
  background: #f8b0f8; }

#banner {
  background: #99cc99;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #228822;
  text-align: center; }
  #banner img {
    float: left; }

#columns {
  background: #114411; }

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white; }

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #114411; }
  #side a {
    color: #bbffbb;
    font-size: small; }

#store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #7777dd; }
#store .title {
  font-size: 120%;
  font-family: sans-serif; }
#store .entry img {
  width: 75px;
  float: left; }
#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #222277; }
#store .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em; }
#store .entry .price-line {
  clear: both; }
#store .entry .add-to-cart {
  position: relative; }
#store .entry .price {
  color: #4444aa;
  font-weight: bold;
  margin-right: 2em; }
#store .entry form {
  display: inline; }
  #store .entry form div {
    display: inline; }

.cart-title {
  font: 120% bold; }

.item-price {
  text-align: right; }

.total-line {
  text-align: right; }
  .total-line .total-cell {
    font-weight: bold;
    border-top: 1px solid #559955; }

#cart {
  font-size: smaller;
  color: white; }
  #cart table {
    font-size: smaller;
    color: white;
    border-top: 1px dotted #559955;
    border-bottom: 1px dotted #559955;
    margin-bottom: 10px; }

.depot-form fieldset {
  background: #eeffee; }
.depot-form legend {
  color: #ddffdd;
  background: #114411;
  font-family: sans-serif;
  padding: 0.2em 1em; }
.depot-form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block; }
.depot-form select, .depot-form textarea, .depot-form input {
  margin-left: 0.5em; }
.depot-form .submit {
  margin-left: 4em; }
.depot-form div {
  margin: 0.5em 0; }

.fieldWithErrors {
  padding: 2px;
  background-color: #eeffee;
  display: inline; }
  .fieldWithErrors * {
    background-color: red; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

.locale {
  float: right;
  padding-top: 0.2em; }

#product_image {
  float: left;
  margin-right: 10px; }
